<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="AppAddresses" type="ToolboxWebLibrary"/>
  </configSections>
  
  <appSettings>
    <!--<add key="api" value="https://localhost:44381/" />-->
    <add key="ToolboxApi" value="https://localhost:7087/" />
    
    <!--<add key="api" value="https://mncportalprod-sql.database.windows.net"/>-->
    <add key="ClientSettingsProvider.ServiceUri" value="" />
    
  </appSettings>

  <AppAddresses>
    <add key="api" value="https://localhost:44381/" />
    <!--<add key="ToolboxAp" value="https://localhost:7087/" />-->

    <!--<add key="api" value="https://mncportalprod-sql.database.windows.net"/>-->
    <add key="ClientSettingsProvider.ServiceUri" value="" />

  </AppAddresses>
  
</configuration>