@page "/TermsAndDefinitions"

<h1>Terms & Definitions</h1>

<p>
    The terms presented here are used in varying business areas and cover a wide range of topics. 
    This is an incomplete list and is updated infrequently. If you are aware of terms that should 
    be included here, please notify <a href="mailto:ngallagher@mynexuscare.com">Nate Gallagher</a>.
</p>

<table>
    <tr>
        <th>Term</th>
        <th>Definition</th>
    </tr>
    <tr>
        <td>ALF</td>
        <td><em>Assisted Living Facility.</em></td>
    </tr>
    <tr>
        <td>BH</td>
        <td><em>Behavioral Health.</em></td>
    </tr>

                        <tr>
                            <td>C3</td>
                            <td><em>Complex Care Coordination.</em>
                            This category of care usually covers long-term patients and requires extra review for approval.</td>
                        </tr>

                        <tr>
                            <td>CARC</td>
                            <td><em>Claim Adjusted Reason codes.</em></td>
                        </tr>

                        <tr>
                            <td>Cert Period</td>
                            <td><em>Certification Period.</em>
                            This is a 60 day plan of care period. When the cert period ends, another cert period must approved to cover additional care.</td>
                        </tr>

                        <tr>
                            <td>CHF</td>
                            <td><em>Congestive Heart Failure.</em></td>
                        </tr>

                        <tr>
                            <td>Claim</td>
                            <td><em>See Medical Claim.</em></td>
                        </tr>

                        <tr>
                            <td>CLOF</td>
                            <td><em>Current Level of Function.</em></td>
                        </tr>

                        <tr>
                            <td>DB</td>
                            <td><em>Database.</em>
                            A usually large collection of data organized especially for rapid search and retrieval (as by a computer)
                            <em>(
                                <a href="https://www.merriam-webster.com/dictionary/database">Merriam-Webster</a>)</em></td>
                        </tr>

                        <tr>
                            <td>DC</td>
                            <td><em>Discharge.</em></td>
                        </tr>

                        <tr>
                            <td>DOV</td>
                            <td><em>Discussion of Visits.</em></td>
                        </tr>

                        <tr>
                            <td>ESRD</td>
                            <td><em>End Stage Renal Disease.</em></td>
                        </tr>

                        <tr>
                            <td>f/u</td>
                            <td><em>Follow up.</em></td>
                        </tr>

                        <tr>
                            <td>HCPC</td>
                            <td><em>Healthcare Common Procedure Coding system.</em></td>
                        </tr>

                        <tr>
                            <td>HEP</td>
                            <td><em>Home Excercise Program.</em></td>
                        </tr>

                        <tr>
                            <td>IBNR</td>
                            <td><em>Incurred But Not Received.</em></td>
                        </tr>

                        <tr>
                            <td>INR</td>
                            <td><em>International Ratio.</em>
                            This is a common blood draw lab.</td>
                        </tr>

                        <tr>
                            <td>JOC</td>
                            <td><em>Joint Operating Committee.</em></td>
                        </tr>

                        <tr>
                            <td>Medical Claim</td>
                            <td><em>All-payer claims contain detailed diagnosis and procedure information for any billable patient visit. Healthcare organizations can use this claims information to:</em>
                        <ul>
                            <li>
                                Trace referral patterns
                            </li>
                            <li>
                                Improve population health
                            </li>
                            <li>
                                Increase sales
                            </li>
                            <li>
                                Accelerate their go-to-market strategy
                            </li>
                        </ul>
                            <em>(
                                <a href="https://www.definitivehc.com/blog/medical-claims-101-what-you-need-to-know">Merriam-Webster</a> )
                            </em>
                            </td>
                        </tr>

                        <tr>
                            <td>MER</td>
                            <td><em>Medical Expense Ratio.</em>
                            Averages 70%.</td>
                        </tr>

                        <tr>
                            <td>MREP</td>
                            <td><em>Medicare Remit Easy Print.</em></td>
                        </tr>

                        <tr>
                            <td>MSW</td>
                            <td><em>Medical Social Worker.</em></td>
                        </tr>

                        <tr>
                            <td>NPI</td>
                            <td><em>National Provider Identifier.</em>
                            The National Provider Identifier (NPI) is a Health Insurance Portability and Accountability Act (HIPAA) Administrative Simplification Standard. The NPI is a 10-digit, unique identification number for insured health care providers — created to improve the efficiency of electronically transmitted health information and delivered by CMS. Benefits of NPI standardization include:
                        <ul>
                            <li>
                                Simplified electronic transmission of HIPAA transactions
                            </li>
                            <li>
                                Unique, standardized identifiers for health care providers, health care plans, and employers
                            </li>
                            <li>
                                Efficient coordination of benefit transactions
                            </li>
                        </ul>
                            <em>(
                                <a href="https://www.definitivehc.com/resources/glossary/national-provider-identifier-standard">Merriam-Webster</a> )
                            </em>
                        </td>
                        </tr>

                        <tr>
                            <td>OT</td>
                            <td><em>Occupational Therapy.</em></td>
                        </tr>

                        <tr>
                            <td>PBP</td>
                            <td><em>Plan Benfit Package.</em></td>
                        </tr>

                        <tr>
                            <td>PDGM</td>
                            <td><em>Patient Driven Grouping Model.</em>
                        <ul>
                            <li>The PDGM is a new payment model for the Home Health Prospective Payment 
System (HH PPS) that relies more heavily on clinical characteristics and other 
patient information to place home health periods of care into meaningful 
payment categories and eliminates the use of therapy service thresholds.
                            </li>
                            <li>
                                PDGM will take effect January 1, 2020.
                            </li>
                            <li>
                                In conjunction with the implementation of the PDGM there will be a change in 
the unit of home health payment from a 60-day episode to a 30-day period.
                            </li>
                        </ul>
                            <em>(
                                <a href="https://www.cms.gov/Outreach-and-Education/Outreach/NPC/Downloads/2019-02-12-PDGM-Presentation.pdf">Merriam-Webster</a> )
                            </em>
                        </td>
                        </tr>

                        <tr>
                            <td>PDS</td>
                            <td><em>Post Decision Support.</em></td>
                        </tr>

                        <tr>
                            <td>POC</td>
                            <td><em>Plan Of Care.</em></td>
                        </tr>

                        <tr>
                            <td>PT</td>
                            <td><em>Physical Therapy.</em></td>
                        </tr>

                        <tr>
                            <td>Pt</td>
                            <td><em>Patient.</em></td>
                        </tr>

                        <tr>
                            <td>RARC</td>
                            <td><em>Remittance Advice Remark Codes.</em></td>
                        </tr>

                        <tr>
                            <td>ROC</td>
                            <td><em></em></td>
                        </tr>

                        <tr>
                            <td>SN</td>
                            <td><em>Skilled Nursing.</em></td>
                        </tr>

                        <tr>
                            <td>ST</td>
                            <td><em>Speech Therapy.</em></td>
                        </tr>

                        <tr>
                            <td>SOC</td>
                            <td><em>Start Of Care.</em></td>
                        </tr>

                        <tr>
                            <td>V/U</td>
                            <td><em>Verbalized Understanding.</em></td>
                        </tr>
</table>

@code {

}

